<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}{% endblock %} {% if mixture.url != "index" %}&ndash;{% endif %} Shropgeek Revolution 2013</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <link rel="shortcut icon" href="/favicon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">


        <!-- Styles -->
        <link href="{{ "global.css" | asset_url }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ "medium.css" | asset_url }}" rel="stylesheet" type="text/css" media="screen and (min-width: 35.5em)" />
        <link href="{{ "large.css" | asset_url }}" rel="stylesheet" type="text/css" media="screen and (min-width: 60em)" />
        <link href="{{ "huge.css" | asset_url }}" rel="stylesheet" type="text/css" media="screen and (min-width: 87.5em)" />
        <link href="{{ "highdpi.css" | asset_url }}" rel="stylesheet" type="text/css" media="screen and (((-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 150dpi))" />
        
        <script type="text/javascript" src="//use.typekit.net/uht6jad.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
   
            <!-- Include -->
            {% include "header" %}
            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}
            {% include "sponsors" %}
            {% include "footer" %}
       
        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
       
        
    </body>
</html>