<footer class="sponsors container page footer-sponsors">
    	<h2>In association with</h2>
    	<ul class="platinum">
			<li>
				<a href="http://www.greenfield-it.co.uk/" target="_blank">
					<img src="{{ "sponsorship-logos/greenfield-it-recruitment.jpg" | asset_url }}" alt="Greenfields IT Recruitment">
				</a>
			</li>
			<li>
				<a href="http://www.heartinternet.co.uk/" target="_blank">
					<img src="{{ "sponsorship-logos/heart-internet.jpg" | asset_url }}" alt="Heart Internet">
				</a>
			</li>
			<li>
				<a href="sponsors">
					<img src="{{ "sponsorship-logos/available.png" | asset_url }}" alt="">
				</a>
			</li>

			<li class="last">
				<a href="sponsors">
					<img src="{{ "sponsorship-logos/available.png" | asset_url }}" alt="">
				</a>
				
			</li>
    	</ul>
    	<ul class="gold">
			<li>
				<a href="http://mixture.io/" target="_blank">
					<img src="{{ "sponsorship-logos/mixture.png" | asset_url }}" alt="Mixture">
				</a>
			</li><li>
				<a href="sponsors">
					<img src="{{ "sponsorship-logos/available.png" | asset_url }}" alt="">
				</a>
			</li><li>
				<a href="sponsors">
					<img src="{{ "sponsorship-logos/available.png" | asset_url }}" alt="">
				</a>
			</li><li>
				<a href="sponsors">
					<img src="{{ "sponsorship-logos/available.png" | asset_url }}" alt="">
				</a>
			</li><li>
				<a href="sponsors">
					<img src="{{ "sponsorship-logos/available.png" | asset_url }}" alt="">
				</a>
			</li><li>
				<a href="sponsors">
					<img src="{{ "sponsorship-logos/available.png" | asset_url }}" alt="">
				</a>
			</li><li>
				<a href="sponsors">
					<img src="{{ "sponsorship-logos/available.png" | asset_url }}" alt="">
				</a>
			</li><li>
				<a href="sponsors">
					<img src="{{ "sponsorship-logos/available.png" | asset_url }}" alt="">
				</a>
			</li><li>
				<a href="sponsors">
					<img src="{{ "sponsorship-logos/available.png" | asset_url }}" alt="">
				</a>
			</li>
    	</ul>
    </footer>