{% block title %}About{% endblock %}
{% block bodyclass %}about-page{% endblock %}
{% block content %}
	<div role="main">
		<section class="page-title">
			<div class="container">
				<h1>About Shropgeek Revolution</h1>
			</div>
		</section>
		<div class="page container two-cols-even">        
    		<div class="content-container col1">
				<p>For the past half-decade, Shropgeek has grown from a simple, single-celled idea to a multi-headed entity of an event. Its evolution follows the course of natural selection with the best ideas staying around (beer, banter, knowledge-sharing) and bad ones dying off... well, not so much the dying part.</p>
				
                                <p>Each month, a group of like-minded people <a href="http://shropgeek.co.uk">meet in the 'Shire's pubs</a> to enjoy real ale and banter, proudly exploring ideas considered geeky: code, mobile technology, design and the Web. The group has expanded, and the ideas grow beyond the expectations of some friendly geeks.</p>

				<p>As Shropshire's original Web Conference, we celebrate the "survival of the fittest" ideas by hosting an annual event in the town of Darwin's birth. This year, we've expanded into a full-day, hosting some of the Web's best talent to share skills and present earth-shattering ideas.</p>
				
				<p>Bigger. Better. More speakers. Probably more beer: you're invited to join the (R)Evolution.</p>
				
				
	    	</div>
	    	<div class="col2">
	    		
		    	<div id="slides" class="slides">
			    	<img src="{{ "/slideshow/1.jpg" | asset_url }}">
			    	<img src="{{ "/slideshow/2.jpg" | asset_url }}">
			    	<img src="{{ "/slideshow/3.jpg" | asset_url }}">
			    	<img src="{{ "/slideshow/4.jpg" | asset_url }}">
			    	<img src="{{ "/slideshow/5.jpg" | asset_url }}">
			    	<img src="{{ "/slideshow/6.jpg" | asset_url }}">
			    </div>
			    <p class="credit">Photos from (R)evolution 2012 by <a href="http://www.stonehousephotographic.com/" target="_blank">Stonehouse Photographic</a>
	    	</div>
    	</section>
</div>
		<div class="page container two-cols team">        

    				
    				<section class="col1 team-grid">
    				<h2>The team</h2>
    				<div class="grid">
    					<div class="unit">
    						<img src="{{ "/team/kirsty.jpg" | asset_url }}" alt="Kirsty Burgoine" />
    						<strong>Kirsty Burgoine</strong>
    						<p>Web designer / developer living in Shropshire. WordPress specialist. Owner of Kirsty Burgoine Ltd. Organiser of @shropgeek</p>
    						<a href="https://twitter.com/kirstyburgoine" class="ss-icon">Twitter</a>
    						<a href="http://www.kirstyburgoine.co.uk/" class="ss-icon ss-link"></a>
    					</div>
    					<div class="unit even">
    						<img src="{{ "/team/zach.jpeg" | asset_url }}" alt="Zach Beauvis" />
    						<strong>Zach Beauvis</strong>
    						<p>Writer, evangelist, strategist: telling stories, exploring ideas, nurturing communities.</p>
    						<a href="https://twitter.com/zbeauvais" class="ss-icon">Twitter</a>
    						<a href="http://zachbeauvais.com/" class="ss-icon ss-link"></a>

    					</div>
    					<div class="unit">
    						<img src="{{ "/team/pete.jpg" | asset_url }}" alt="Pete White" />
    						<strong>Pete White</strong>
    						<p>Shrewsbury based Web Developer, Drupal Specialist, Blogger and Love Shrewsbury Editor - works at Information Solutions/The Web Orchard.</p>
    						<a href="http://twitter.com/kingpetey" class="ss-icon">Twitter</a>
    						<a href="http://www.petejwhite.com/" class="ss-icon ss-link"></a>

    					</div>
    					<div class="unit even last">
    						<img src="{{ "/team/martin.jpeg" | asset_url }}" alt="Martin Wright" />
    						<strong>Martin Wright</strong>
    						<p>Father, husband and sort-of Australian designer at Torchbox.</p>
    						<a href="http://twitter.com/wrightmartin" class="ss-icon twitter">Twitter</a>
    						<a href="http://mynameismartin.com/" class="ss-icon ss-link"></a>
    					</div>
    					
    				</div>
    				</section>
    				<section class="col2 volunteers">
	    				<h3>Volunteers</h3>
	    				<div class="grid">
	    					
	    					<div class="unit first">
	    					<a href="http://twitter.com/vickycleaton" target="_blank">
	    						<img src="{{ "/team/vicky-cleaton.jpg" | asset_url }}" alt="Vicky Cleaton" />
	    					</a>
	    					</div>
	    					
	    					<div class="unit second">
	    					<a href="http://twitter.com/jamiebiddle" target="_blank">
	    						<img src="{{ "/team/jamie-biddle.jpg" | asset_url }}" alt="Jamie Biddle" />
	    					</a>
	    					</div>
	    					
	    					<div class="unit third">
	    					<a href="http://twitter.com/katiemoffat" target="_blank">
	    						<img src="{{ "/team/Katie_Moffat.jpg" | asset_url }}" alt="Katie Moffat" />
	    					</a>
	    					</div>
	    					
	    					<div class="unit fourth">
	    					<a href="http://twitter.com/dale_shepherd" target="_blank">
	    						<img src="{{ "/team/dale-shephard.jpg" | asset_url }}" alt="" />
	    					</a>
	    					</div>

	    					<!--
	    					<div class="unit fifth">
	    						<img src="{{ "/team/zach.jpeg" | asset_url }}" alt="" />
	    					</div>
	    					<div class="unit sixth">
	    						<img src="{{ "/team/pete.jpg" | asset_url }}" alt="" />
	    					</div>

	    					//-->
	    					
	    				</div>
    				</section>
		</div>
		<div class="page container shropgeek">
		<h2>About Shropgeek</h2>
    				
    					<div class="content-container">
							<p>Simply put we are a collection of like minded people based in and around Shropshire  who like to meet regularly to catchup and socialise with fellow geeks.</p>
							
							<p>We hold meetups on the first friday of each month (although this does change from time to time) at The Admiral Benbow in Shrewsbury. Most of us that attend have a background in IT or an adjoining industry, however anyone is welcome.</p>
							
							<p>Everyone has a geeky side (no matter how well hidden), and there is always a topic of conversation for everyone. We are a friendly bunch.</p>
							
							<p>If you are interested in coming along to the next gathering, follow us on twitter (<a href="http://twitter.com/#!/shropgeek" target="_blank">@shropgeek</a>) or join the facebook group (<a href="https://www.facebook.com/groups/shropgeek/" target="_blank">Shropgeek Group</a>) for announcements each month.</p>                       
    					</div>
		</div>
		<div class="page container shropgeek">
		<h2>Credits</h2>
    				
    					<div class="content-container">
							<p>This site was designed and developed by <a href="http://mynameismartin.com" target="_blank">Martin Wright</a> with thanks to <a href="http://stinajones.co.uk/" target="_blank">Stina Jones</a> for the homepage illustration and <a href="http://neilkinnish.com/" target="_blank">Neil Kinnish</a> for the location map.</p>
						</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
    $(function(){
      $("#slides").slidesjs({
      		width: 940,
	      height: 528,
	      start: 1,
	      navigation: {
	        active: false,
	        effect: "slide"
	      },
	      pagination: {
	        active: false,
	        effect: "slide"
	      },
	      play: {
	        active: false,
	        effect: "fade",
	        interval: 5000,
	        auto: true,
	        swap: true,
	        pauseOnHover: false,
	        restartDelay: 2500
	      },
	      effect: {
	        slide: {
	          speed: 500
	        },
	        fade: {
	          speed: 1000,
	          crossfade: true
	        }
	      },
	      callback: {
	        loaded: function() {},
	        start: function() {},
	        complete: function() {}
	      }
      });
    });
  </script>
{% endblock %}
