{% layout "home" %}

{% block content %} 
	<main role="main">
		
			<div class="hero sales-pitch container page">
				
				<div class="caption">
					<div class="caption-content">
	        		<h1 class="logo">Shropgeek (R)evolution</h1>
	        		<p>We've evolved. Bigger plans, a new format, the same friendly atmosphere</p>
	        		<p><a href="#" class="button">Buy tickets</a></p>
					</div>
				</div>
				<div class="foreground">
					<img id="hero" src="{{ "hero-foreground-small.png" | asset_url }}" alt=""  data-fullsrc="{{ "hero-foreground.png" | asset_url }}">
									</div>
			</div>
		
		
		<!--<section class="register page">
			<div class="register-box">
				<h2><a href="#">Register now</a></h2>
				<h3>What's in store</h3>
				<ul>
					<li>A full day conference</li>
					<li>8 revolutionary speakers</li>
					<li>A unique, friendly atmosphere</li>
					<li>A cocktail-laden afterparty</a></li>
					<li>Meet a diverse community of geeks</a></li>
					<li>5% ticket donation to the British Heart Foundation</li>
				</ul>
				<a href="#" class="button">Register</a>
			</div>
						
		</section>-->
		
		
    </main>
{% endblock %}
{% block speakers %}
			<section class="speakers container page">
			
				<h2>Featuring</h2>
		
		 <div class="photo-grid">
		 	<ul>
		 		<li class="vcard">
			 		<a href="http://www.jaggeree.com/">
				 		<figure>
				 			<img src="{{ "chris-thorpe.jpg" | asset_url }}" alt="">
					 		<figcaption>
					 			<h3 class="fn">Chris Thorpe</h3>
					 			<p>Jaggeree</p>
					 		</figcaption>
				 		</figure>
			 		</a>
		 		</li>
		 		<li class="vcard">
			 		<a href="http://snook.ca/">
				 		<figure>
				 			<img src="{{ "jonathan-snook.jpg" | asset_url }}" alt="">
					 		<figcaption>
					 			<h3 class="fn">Jonathan Snook</h3>
					 			<p>Snook.ca</p>
					 		</figcaption>
				 		</figure>
			 		</a>
		 		</li>
		 		
		 		<li class="vcard">
			 		<a href="http://elliotjaystocks.com/">
				 		<figure>
				 			<img src="{{ "elliot-jay-stocks.jpg" | asset_url }}" alt="">
					 		<figcaption>
					 			<h3 class="fn">Elliot Jay Stocks</h3>
					 			<p>Viewport Industries</p>
					 		</figcaption>
				 		</figure>
			 		</a>
		 		</li>
		 		<li class="vcard">
			 		<a href="http://www.laurakalbag.com">
				 		<figure>
				 			<img src="{{ "laura-kalbag.jpg" | asset_url }}" alt="">
					 		<figcaption>
					 			<h3 class="fn">Laura Kalbag</h3>
					 			<p>Laurakalbag.com</p>
					 		</figcaption>
				 		</figure>
			 		</a>
		 		</li>
		 		<li class="vcard">
			 		<a href="http://www.robertmills.me/">
				 		<figure>
				 			<img src="{{ "rob-mills.jpg" | asset_url }}" alt="">
					 		<figcaption>
					 			<h3 class="fn">Robert Mills</h3>
					 			<p>Designing the invisible</p>
					 		</figcaption>
				 		</figure>
			 		</a>
		 		</li>
		 		<li class="vcard">
			 		<a href="http://www.jojet.com/">
				 		<figure>
				 			<img src="{{ "joel-hughes.jpg" | asset_url }}" alt="">
					 		<figcaption>
					 			<h3 class="fn">Joel Hughes</h3>
					 			<p>Port 80 Conference</p>
					 		</figcaption>
				 		</figure>
			 		</a>
		 		</li>
		 		<li class="vcard">
			 		<a href="http://dafyddvaughan.co.uk/">
				 		<figure>
				 			<img src="{{ "dafydd-vaughan.jpg" | asset_url }}" alt="">
					 		<figcaption>
					 			<h3 class="fn">Dafydd Vaughan</h3>
					 			<p>Gov.uk</p>
					 		</figcaption>
				 		</figure>
			 		</a>
		 		</li>
		 		<li class="vcard">
			 		<a href="#">
				 		<figure>
					 		<img src="{{ "james-whittaker.jpg" | asset_url }}" alt="">
					 		<figcaption>
					 			<h3 class="fn">James Whittaker</h3>
					 			<p>Twitter</p>
					 		</figcaption>
				 		</figure>
			 		</a>
		 		</li>
		 				 	</ul>
		 </div> <!-- /photo-grid -->
		</section> <!-- /speakers -->
		{% endblock %}
		{% block about %}
		<section class="about container page">
		 	<div class="about-content">
			<h2>Shropshire's original web conference</h2>
				<div>
			<p>We're excited to be back for our fourth year and this one's going to be huge. (R)evolution has evolved into a full day, single-track web conference, with 8 of the web's most revolutionary thinkers and space for 200 attendees.</p><p>Whether you're a web industry veteran or just starting your career, you won't want to miss out on the chance to be part of one of the friendliest web conferences the UK has to offer.</p>
			</div>
			<div>
			<p>This year's (R)evolution will be held in the brand new Shropshire Conference Centre, just 5 minutes outside of Shrewsbury town centre. With space for 200 attendees plus a foyer for social space during breaks and en exhibition area for our lovely sponsors.</p><p>After the event, we'll be holding an exclusive after party at The Alb, the venue of our smaller Rebellion events, where there will be money behind the bar and a chance to party into the wee hours.</p>
			</div>
			</div>

		 </section>
		{% endblock %}
		
		{% block scripts %}
			<script type="text/javascript" src="{{ "responsive-enhance.min.js" | asset_url }}"></script>
			<script>responsiveEnhance(document.getElementById('hero'), 600);</script>
		{% endblock %}
		