{% block title %}Schedule{% endblock %}

{% block content %}
	<main role="main">
	<section class="page-title">
		<div class="container">
			<h1>Schedule</h1>
		</div>
	</section>
		<div class="page container">
		
			
			<section class="the-day">
				<div class="scheduled-event">
					<time>9:00am</time>
					<h2>Registration</h2>
					<p>Collect your badge and goodie bag, enjoy a chat and a coffee, kindly sponsored by <em>Company name</em></p>
				</div>
				<div class="scheduled-event">
					<time>9:20am</time>
					<h2>Opening remarks</h2>
					<p>Kirsty and Zach welcome you to the fourth Shropgeek (R)evolution</p>
				</div>
				<div class="scheduled-event speaker">
					<time>9:30am</time>
					<img src="{{ "chris-thorpe.jpg" | asset_url }}" alt="">
					<h2><a href="#" class="reveal">Chris Thorpe</a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

						<p>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.</p>
					</div>
					
					
					
				</div>
				<div class="scheduled-event speaker">
					<time>10:15am</time>
					<img src="{{ "jonathan-snook.jpg" | asset_url }}" alt="">
					<h2><a href="#" class="reveal">Jonathan Snook</a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

						<p>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.</p>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>11:00am</time>
					<h2>Coffee break</h2>
					<p>A short break for refreshments and relief, kindly sponsored by <em>Company name</em></p>
				</div>
				<div class="scheduled-event speaker">
					<time>11:15am</time>
					<img src="{{ "laura-kalbag.jpg" | asset_url }}" alt="">
					<h2><a href="#" class="reveal">Laura Kalbag</a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

						<p>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.</p>
					</div>
					
				</div>
				<div class="scheduled-event speaker">
					<time>12:00pm</time>
					<img src="{{ "rob-mills.jpg" | asset_url }}" alt="">
					<h2><a href="#" class="reveal">Robert Mills</a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

						<p>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.</p>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>12:45pm</time>
					
					<h2>Discussion Panel</h2>
					<h3>Facebook as your resume</h3>
					<p>Laura, Chris and Robert debate whether Facebook should fit into your professional persona</p>					
				</div>
				<div class="scheduled-event">
					<time>1:00pm</time>
					<h2>Lunch</h2>
					<p>Sandwiches, fruit and cake kindly sponsored by <em>Company name</em></p>
					
				</div>
				<div class="scheduled-event speaker">
					<time>2:00pm</time>
					<img src="{{ "dafydd-vaughan.jpg" | asset_url }}" alt="">

					<h2><a href="#" class="reveal">Dafydd Vaughan</a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

						<p>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.</p>
					</div>
					
				</div>
				<div class="scheduled-event speaker">
					<time>2:45pm</time>
					<img src="{{ "james-whittaker.jpg" | asset_url }}" alt="">
					<h2><a href="#" class="reveal">James Whittaker</a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

						<p>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.</p>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>3:30pm</time>
					<h2>Coffee break</h2>
					<p>A short break for refreshments and relief, kindly sponsored by <em>Company name</em></p>
				</div>
				<div class="scheduled-event speaker">
					<time>3:45pm</time>
					<img src="{{ "joel-hughes.jpg" | asset_url }}" alt="">
					<h2><a href="#" class="reveal">Joel Hughes</a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

						<p>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.</p>
					</div>
					
				</div>
				<div class="scheduled-event speaker">
					<time>4:45pm</time>
					<img src="{{ "elliot-jay-stocks.jpg" | asset_url }}" alt="">
					<h2><a href="#" class="reveal">Elliot Jay Stocks</a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>

						<p>The path of a cosmonaut is not an easy, triumphant march to glory. You have to get to know the meaning not just of joy but also of grief, before being allowed in the spacecraft cabin.</p>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>17:30pm</time>
					<h2>Close</h2>
					<p>Kirsty and Zach wrap up the day</p>
				</div>
			</section>
			<section class="fringe">
				<h2>On the fringe</h2>
				<h3>The day before</h3>
				<h4>Pre-event drinks</h4>
				<p>We'll be in the pub from 7:00pm till late for a pre-event party. Any excuse eh?</p>
				<h3>The after party</h3>
				<p>To round off the day, there will be an afterparty for all attendees (bring your badge), money behind the bar with thanks to <em>Company name</em></p>
				<h4>The Alb</h4>
				<p>Address <br />
					Address <br />
					Shrewsbury <br />
					SY1 1AA <br />
				</p>
			</section>
		</div>
	</main>
{% endblock %}

{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.details').toggle();
		
		
			$('.reveal').click(function(e){ 
				e.preventDefault();
				$(this).closest(".scheduled-event").find(".details").slideToggle("fast"); 
			})
			
			$(document).keyup(function(e) {
				if (e.keyCode == 27)  { $('.the-day').find(".details:visible").slideToggle("fast");  }  // esc 
    		});
		});
	</script>
{% endblock %}