	{% block title %}Schedule{% endblock %}
{% block bodyclass %}schedule{% endblock %}
{% block content %}
	<div role="main">
	<section class="page-title">
		<div class="container">
			<h1>Conference schedule</h1>
		</div>
	</section>
		<div class="page container two-cols">
		
			
			<section class="the-day col1">
				<div class="scheduled-event">
					<time>9:00am</time>
					<h2>Registration</h2>
					<p>Collect your badge and conference bag, enjoy a chat and a coffee</p>
				</div>
				<div class="scheduled-event">
					<time>9:20am</time>
					<h2>Opening remarks</h2>
					<p>Kirsty and Zach welcome you to the fourth Shropgeek (R)Evolution</p>
				</div>
				<div class="scheduled-event speaker">
					<time>9:30am</time>
					<h2><a href="#" class="reveal">Chris Thorpe<span></span></a></h2>
					<!-- <h3>The title of the talk</h3> //-->
					<div class="details">
						<img src="{{ "speakers/chris-thorpe.jpg" | asset_url }}" alt="">
						<p>In a former life Chris spent four years studying for a chemistry degree and then another three researching for a PhD in structural and molecular biology. Part way through his PhD in 1992 he set up a website on his desktop machine using the recently released CERN webserver and he's been building websites ever since.</p>
						<p>	
						He's been responsible for web projects as diverse as the public consultation and display of sculpture on The Fourth Plinth in Trafalgar Square, a video on demand archive for Nobel Prize Winners, the first ever Open Access science journal and the premiere of a James Bond film. He ran the technology team which built Moshi Monsters and helped to set up The Guardian Open Platform and the Government Digital Service. He is currently the consultant Chief Technology Officer of the Design and Artists Copyright Society.</p>
						<p>
						Recently he's been experimenting with crowdsourcing, crowdfunding, 3D scanning and 3D printing to build up a new venture called The Flexiscale Company which is experimenting in micro/mini manufacturing to make high resolution 3D printed plastic model kits of obscure railway items.
						</p>
						<div class="speaker-links">	
							<a href="http://twitter.com/jaggeree"><span class="ss-twitter"></span> @jaggeree</a>
							<a href="http://jaggeree.com"><span class="ss-link"></span> jaggeree.com</a>
						</div>
					</div>
					
					
					
				</div>
				<div class="scheduled-event speaker">
					<time>10:15am</time>
					<h2><a href="#" class="reveal">Jonathan Snook<span></span></a></h2>
					<!-- <h3>The title of the talk</h3> //-->
					<div class="details">
						<img src="{{ "speakers/jonathan-snook.jpg" | asset_url }}" alt="">
						<p>Jonathan Snook writes about tips, tricks and bookmarks on his blog. He has also written for A List Apart, 24ways, and .net magazine, and he has co-authored two books, The Art and Science of CSS and Accelerated DOM Scripting. Most recently, Snook has written the eBook SMACSS, sharing his experience and best practices on CSS architecture. Jonathan also works on the design team at Shopify.</p>
					<div class="speaker-links">	
							<a href="http://twitter.com/snookca"><span class="ss-twitter"></span> @snookca</a>
							<a href="http://snook.ca"><span class="ss-link"></span> snook.ca</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>11:00am</time>
					<h2>Coffee break</h2>
					<p>A short break for refreshments</p>
				</div>
				<div class="scheduled-event speaker">
					<time>11:15am</time>
					
					<h2><a href="#" class="reveal">Laura Kalbag<span></span></a></h2>
					<!-- <h3>The title of the talk</h3> //-->
					<div class="details">
						<img src="{{ "speakers/laura-kalbag.jpg" | asset_url }}" alt="">
						<p>Laura Kalbag is a designer easily excited by web design and development. Among her list of ever-changing pet subjects are responsive web, semantic web, and web fonts, but she's really fascinated by anything in the areas of web, mobile and design.</p>
						<p>
Laura has been a freelancer for the whole of her professional life. She revels in working with small and meaningful clients, creating websites, apps, icons, illustrations and the odd logo.</p>
						<div class="speaker-links">	
							<a href="http://twitter.com/laurakalbag"><span class="ss-twitter"></span> @laurakalbag</a>
							<a href="http://laurakalbag.com"><span class="ss-link"></span> laurakalbag.com</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event speaker">
					<time>12:00pm</time>
					
					<h2><a href="#" class="reveal">Robert Mills<span></span></a></h2>
					<!-- <h3>The title of the talk</h3> //-->
					<div class="details">
						<img src="{{ "speakers/rob-mills.jpg" | asset_url }}" alt="">
						<p>Rob Mills is Studio Manager at Bluegg and author of Designing the Invisible from Five Simple Steps. As a journalism graduate and former BBC Audience Researcher he likes words and data but mainly words. He has written for Smashing Magazine, 24Ways and you might also spot him in .Net Magazine as part of their big question panel. This is his fifth web related talk. He will write for coffee or Monster Munch but never for raisins or yoghurts with bits in.
						</p>

						<div class="speaker-links">	
							<a href="http://twitter.com/robertmills"><span class="ss-twitter"></span> @robertmills</a>
							<a href="http://www.robertmills.me/"><span class="ss-link"></span> robertmills.me</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>12:45pm</time>
					<!-- # TODO: Visual styles -->
					<h2>Discussion Panel</h2>
					<h3>Q&A Session with our headline sponsors</h3>
					<p>A special session during the day that allows the audience the chance to gain answers to those really
important questions (relevant to their specialism, of course!). No one expects them to know the answer to the meaning of life.</p>					
				</div>
				<div class="scheduled-event">
					<time>1:00pm</time>
					<h2>Lunch</h2>
					<p>Sandwiches, fruit and cake</p>
				</div>
				<div class="scheduled-event speaker">
					<time>2:00pm</time>
					

					<h2><a href="#" class="reveal">Dafydd Vaughan<span></span></a></h2>
					<!-- <h3>The title of the talk</h3> //-->
					<div class="details">
						<img src="{{ "speakers/dafydd-vaughan.jpg" | asset_url }}" alt="">
						<p>Tech Lead at Government Digital Service (@GDSTeam) working on government transactions and https://www.gov.uk. Sometimes speaks in Welsh. 
</p>

						<div class="speaker-links">	
							<a href="http://twitter.com/dafyddbach"><span class="ss-twitter"></span> @dafyddbach</a>
							<a href="http://dafyddvaughan.co.uk/"><span class="ss-link"></span> dafyddvaughan.co.uk/</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event speaker">
					<time>2:45pm</time>
					
					<h2><a href="#" class="reveal">James Whittaker<span></span></a></h2>
					<!-- <h3>The title of the talk</h3> //-->
					<div class="details">
						<img src="{{ "speakers/james-whittaker.jpg" | asset_url }}" alt="">
						<p>James is a front-end software engineer at Twitter, formerly UI & UX architect at TweetDeck and has worked with a variety of front-end technologies for many years. He has developed interactive projects for the likes of Egg Bank, Prudential and Nokia. James has presented at user groups, conferences and written for magazines on design and development.</p>

						<div class="speaker-links">	
							<a href="http://twitter.com/jmwhittaker"><span class="ss-twitter"></span> @jmwhittaker</a>
							<a href="http://about.me/jmwhittaker"><span class="ss-link"></span> about.me/jmwhittaker</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>3:30pm</time>
					<h2>Coffee break</h2>
					<p>A short break for refreshments</p>
				</div>
				<div class="scheduled-event speaker">
					<time>3:45pm</time>
					
					<h2><a href="#" class="reveal">Joel Hughes<span></span></a></h2>
					<!-- <h3>The title of the talk</h3> //-->
					<div class="details">
						<img src="{{ "speakers/joel-hughes.jpg" | asset_url }}" alt="">
						<p>Joel is a website producer who has been in the game for a long old time; he was wrestling with IE3 (yes 3!) and table based layouts whilst many of the current generation of coders were still on the potty. Whilst this means he is old & decrepit, it does also mean that he has lots of experience which he’s more than willing to share.</p>
						<p>
						Joel has been in permanent roles (American Express, British Airways), has contracted & has now been working for himself, and managing a remote team, for over 12 years. </p>
						<p>
						As well as all of this he runs the <a href="http://port80events.co.uk/">Port80</a> web conference in South Wales, is married to Jess, has two children (Lily & Gene) and one cat (Mr Pickles).
						</p>
					
					<div class="speaker-links">	
						<a href="http://twitter.com/joel_hughes"><span class="ss-twitter"></span> @joel_hughes</a>
						<a href="http://www.jojet.com/"><span class="ss-link"></span> jojet.com</a>
					</div>
					</div>
					
				</div>
				<div class="scheduled-event speaker">
					<time>4:45pm</time>
					
					<h2><a href="#" class="reveal">Elliot Jay Stocks<span></span></a></h2>
					<!-- <h3>The title of the talk</h3> //-->
					<div class="details">
						<img src="{{ "speakers/elliot-jay-stocks.jpg" | asset_url }}" alt="">
						<p>Elliot Jay Stocks is a designer, illustrator, speaker, and author. His work is regularly featured in books, blogs, and magazines, and his portfolio includes projects for clients such as Virgin, Microsoft, Smashing Magazine and MailChimp. A common face on the speaking circuit, Elliot gives talks at design events across the globe, including An Event Apart, Brooklyn Beta, Future of Web Design, South by Southwest, and Web Directions.</p>
						<p>
He writes for publications such as .Net, Computer Arts, and Codex: The Journal of Typography, is the author of Sexy Web Design (Sitepoint, 2008), and sits on the judging panels of design competitions, as well as Smashing Magazine's Experts Panel.</p>
<p>
Elliot is the founder of typography magazine 8 Faces co-founder of Viewport Industries. He lives and works in the countryside between Bristol and Bath, England.</p>
						<div class="speaker-links">	
							<a href="http://twitter.com/elliotjaystocks"><span class="ss-twitter"></span> @elliotjaystocks</a>
							<a href="http://www.elliotjaystocks.com/"><span class="ss-link"></span> elliotjaystocks.com</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>17:30pm</time>
					<h2>Close</h2>
					<p>Kirsty and Zach wrap up the day</p>
				</div>
			</section>
			<section class="sponsors-teaser col2 sidebar">
				<img src="{{ "sponsors-teaser.jpg" | asset_url }}" alt="sponsors-teaser" />
				<div class="content">
				<h2>Sponsors</h2>
				<p>During the breaks, our sponsors will have stands in the foyer. Without their generosity (R)evolution wouldn't be possible, so spend some time at their stands.</p>
				<a href="{{ "sponsorship-2013-lo.pdf" | asset_url }}" class="button" target="_blank">Download the sponsorship pack</a>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.details').toggle();
		
		
			$('.reveal').click(function(e){ 
				e.preventDefault();
				$(this).closest(".scheduled-event").find(".details").slideToggle("fast"); 
			})
			
			$(document).keyup(function(e) {
				if (e.keyCode == 27)  { $('.the-day').find(".details:visible").slideToggle("fast");  }  // esc 
    		});
		});
	</script>
{% endblock %}
