{% block title %}Schedule{% endblock %}
{% block bodyclass %}schedule{% endblock %}
{% block content %}
	<main role="main">
	<section class="page-title">
		<div class="container">
			<h1>Conference schedule</h1>
		</div>
	</section>
		<div class="page container two-cols">
		
			
			<section class="the-day col1">
				<div class="scheduled-event">
					<time>9:00am</time>
					<h2>Registration</h2>
					<p>Collect your badge and goodie bag, enjoy a chat and a coffee</p>
					<p><a href="#" class="sponsorship-available">Sponsor this break</a></p>
				</div>
				<div class="scheduled-event">
					<time>9:20am</time>
					<h2>Opening remarks</h2>
					<p>Kirsty and Zach welcome you to the fourth Shropgeek (R)evolution</p>
				</div>
				<div class="scheduled-event speaker">
					<time>9:30am</time>
					<h2><a href="#" class="reveal">Chris Thorpe<span>&hellip;</span></a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<img src="{{ "chris-thorpe.jpg" | asset_url }}" alt="">
						<p>Technologist. likes making things, often powered by tea. Father, husband, art lover.</p>
						<p>
						Co-owner of jaggeree. A consultancy that works on the intersection of content, data, people and play. Helping people to define technologies and strategies within the digital space, online, on mobile devices and in physical spaces.
						</p>
						<div class="speaker-links">	
							<a href="http://twitter.com/jaggeree"><span class="ss-twitter"></span> @jaggeree</a>
							<a href="http://jaggeree.com"><span class="ss-link"></span> jaggeree.com</a>
						</div>
					</div>
					
					
					
				</div>
				<div class="scheduled-event speaker">
					<time>10:15am</time>
					<h2><a href="#" class="reveal">Jonathan Snook<span>&hellip;</span></a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<img src="{{ "jonathan-snook.jpg" | asset_url }}" alt="">
						<p>Jonathan Snook writes about tips, tricks and bookmarks on his blog. He has also written for A List Apart, 24ways, and .net magazine, and he has coauthored two books, The Art and Science of CSS and Accelerated DOM Scripting. Most recently, Snook has written the eBook SMACSS, sharing his experience and best practices on CSS architecture. Jonathan also works on the design team at Shopify.</p>
					<div class="speaker-links">	
							<a href="http://twitter.com/snookca"><span class="ss-twitter"></span> @snookca</a>
							<a href="http://snook.ca"><span class="ss-link"></span> snook.ca</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>11:00am</time>
					<h2>Coffee break</h2>
					<p>A short break for refreshments and relief</p>
					<p><a href="#" class="sponsorship-available">Sponsor this break</a></p>
				</div>
				<div class="scheduled-event speaker">
					<time>11:15am</time>
					
					<h2><a href="#" class="reveal">Laura Kalbag<span>&hellip;</span></a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<img src="{{ "laura-kalbag.jpg" | asset_url }}" alt="">
						<p>Laura Kalbag is a designer easily excited by web design and development. Among her list of ever-changing pet subjects are responsive web, semantic web, and web fonts, but she's really fascinated by anything in the areas of web, mobile and design.</p>
						<p>
Laura has been a freelancer for the whole of her professional life. She revels in working with small and meaningful clients, creating websites, apps, icons, illustrations and the odd logo.</p>
						<div class="speaker-links">	
							<a href="http://twitter.com/laurakalbag"><span class="ss-twitter"></span> @laurakalbag</a>
							<a href="http://laurakalbag.com"><span class="ss-link"></span> laurakalbag.com</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event speaker">
					<time>12:00pm</time>
					
					<h2><a href="#" class="reveal">Robert Mills<span>&hellip;</span></a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<img src="{{ "rob-mills.jpg" | asset_url }}" alt="">
						<p>Rob is Studio Manager at Bluegg and author of Designing the Invisible. Journalism graduate and former BBC Audience Researcher.</p>
<p>Rob has written articles for .NET, 24ways and Smashing Magazine. Venturing into the world of conference speaking to share his love of content, design and audiences.</p>

						<div class="speaker-links">	
							<a href="http://twitter.com/robertmills"><span class="ss-twitter"></span> @robertmills</a>
							<a href="http://www.robertmills.me/"><span class="ss-link"></span> robertmills.me</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>12:45pm</time>
					<!-- # TODO: Visual styles -->
					<h2>Discussion Panel</h2>
					<h3>Facebook as your resume</h3>
					<p>Laura, Chris and Robert debate whether Facebook should fit into your professional persona</p>					
				</div>
				<div class="scheduled-event">
					<time>1:00pm</time>
					<h2>Lunch</h2>
					<p>Sandwiches, fruit and cake</p>
					<p><a href="#" class="sponsorship-available">Sponsor the lunch break</a></p>
				</div>
				<div class="scheduled-event speaker">
					<time>2:00pm</time>
					

					<h2><a href="#" class="reveal">Dafydd Vaughan<span>&hellip;</span></a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<img src="{{ "dafydd-vaughan.jpg" | asset_url }}" alt="">
						<p>Tech Lead at Government Digital Service (@GDSTeam) working on government transactions and https://www.gov.uk. Sometimes speaks in Welsh. 
</p>

						<div class="speaker-links">	
							<a href="http://twitter.com/dafyddbach"><span class="ss-twitter"></span> @dafyddbach</a>
							<a href="http://dafyddvaughan.co.uk/"><span class="ss-link"></span> dafyddvaughan.co.uk/</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event speaker">
					<time>2:45pm</time>
					
					<h2><a href="#" class="reveal">James Whittaker<span>&hellip;</span></a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<img src="{{ "james-whittaker.jpg" | asset_url }}" alt="">
						<p>James is a front-end software engineer at Twitter, formerly UI & UX architect at TweetDeck and has worked with a variety of front-end technologies for many years. He has developed interactive projects for the likes of Egg Bank, Prudential and Nokia. James has presented at user groups, conferences and written for magazines on design and development.</p>

						<div class="speaker-links">	
							<a href="http://twitter.com/jmwhittaker"><span class="ss-twitter"></span> @jmwhittaker</a>
							<a href="http://www.jojet.com/"><span class="ss-link"></span> jojet.com</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>3:30pm</time>
					<h2>Coffee break</h2>
					<p>A short break for refreshments and relief</p>
					<p><a href="#" class="sponsorship-available">Sponsor this break</a></p>
				</div>
				<div class="scheduled-event speaker">
					<time>3:45pm</time>
					
					<h2><a href="#" class="reveal">Joel Hughes<span>&hellip;</span></a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<img src="{{ "joel-hughes.jpg" | asset_url }}" alt="">
						<p>Joel is a freelance web strategy gun for hire via his consulting company Jojet.. When not helping businesses' translate their world in what's possible on-line, he's a hooked on Instagram as well as being Apollo/NASA space nut. Married to Jess with two kids (Lily & Geno). Organiser of Port80
</p>
					<div class="speaker-links">	
						<a href="http://twitter.com/robertmills"><span class="ss-twitter"></span> @joel_hughes</a>
						<a href="http://www.jojet.com/"><span class="ss-link"></span> jojet.com</a>
					</div>
					</div>
					
				</div>
				<div class="scheduled-event speaker">
					<time>4:45pm</time>
					
					<h2><a href="#" class="reveal">Elliot Jay Stocks<span>&hellip;</span></a></h2>
					<h3>The title of the talk</h3>
					<div class="details">
						<img src="{{ "elliot-jay-stocks.jpg" | asset_url }}" alt="">
						<p>Elliot Jay Stocks is a designer, illustrator, speaker, and author. His work is regularly featured in books, blogs, and magazines, and his portfolio includes projects for clients such as Virgin, Microsoft, Smashing Magazine and MailChimp. A common face on the speaking circuit, Elliot gives talks at design events across the globe, including An Event Apart, Brooklyn Beta, Future of Web Design, South by Southwest, and Web Directions.</p>
						<p>
He writes for publications such as .Net, Computer Arts, and Codex: The Journal of Typography, is the author of Sexy Web Design (Sitepoint, 2008), and sits on the judging panels of design competitions, as well as Smashing Magazine's Experts Panel.</p>
<p>
Elliot is the founder of typography magazine 8 Faces co-founder of Viewport Industries. He lives and works in the countryside between Bristol and Bath, England.</p>
						<div class="speaker-links">	
							<a href="http://twitter.com/elliotjaystocks"><span class="ss-twitter"></span> @elliotjaystocks</a>
							<a href="http://www.elliotjaystocks.com/"><span class="ss-link"></span> elliotjaystocks.com</a>
						</div>
					</div>
					
				</div>
				<div class="scheduled-event">
					<time>17:30pm</time>
					<h2>Close</h2>
					<p>Kirsty and Zach wrap up the day</p>
				</div>
			</section>
			<section class="sponsors-teaser col2 sidebar">
				<img src="../assets/img/sponsors-teaser.jpg" alt="sponsors-teaser" />
				<div class="content">
				<h2>Sponsors</h2>
				<p>During the breaks our sponsors will have stands in the foyer. Without their generosity (R)evolution wouldn't be possible, please give them a moment of your time.</p>
				</div>
			</section>
		</div>
	</main>
{% endblock %}

{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.details').toggle();
		
		
			$('.reveal').click(function(e){ 
				e.preventDefault();
				$(this).closest(".scheduled-event").find(".details").slideToggle("fast"); 
			})
			
			$(document).keyup(function(e) {
				if (e.keyCode == 27)  { $('.the-day').find(".details:visible").slideToggle("fast");  }  // esc 
    		});
		});
	</script>
{% endblock %}